# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Submission Confidentials
*.tmp
*.docx
*.bkp
*.mp4
# *.drawio
"Hebron_Yenzy_202003090_LAB4 v4.pdf"
"CS21_Project2_Specs.pdf"
"CS_20_21_1_LAB_11_SUPPLEMENT (Annotated).pdf"